.main {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.search {
  display: inline-block;
  position: relative;
}

.search input[type="text"] {
  width: 100%; 
  max-width: 300px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
  background-color: #4e99e9;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: .9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: blue;
}


@media screen and (max-width: 600px) {
  .search input[type="text"] {
    max-width: 200px; 
  }

  .search button[type="submit"] {
    padding: 8px 16px; 
  }
}

